body{
    background-image: url('../assets/ballpen-calendar-close-up-1558691.jpg');
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    font-family: 'Quicksand', sans-serif;
}

h1{
    font-size: 300%;
}

h2{
    margin: 10px;
}

button{
    border: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(208, 210, 211);
    height: 35px;
    border-radius: 4px;
    margin: 5px;
}

button:hover{
    background-color: rgb(218, 223, 226);
    transition-duration: 0.3s;
    cursor: pointer;
}

form{
    font-size: large;
    font-weight: bold;
}

input{
    font-family: 'Quicksand', sans-serif;
    margin: 5px;
}

.input-login{
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    height: 30px;
    width: 150px;
    border-radius: 4px;
}

.form-submit{
    border: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(208, 210, 211);
    height: 35px;
    width: 80px;
    font-size: medium;
    border-radius: 4px;
}

.form-submit:hover{
    background-color: rgb(218, 223, 226);
    transition-duration: 0.3s;
    cursor: pointer;
}

.js-login{
    text-align: center;
    color: rgb(42, 47, 51);
    position: absolute;
    top: 40%;
    left:50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-image: url('../assets/login-background.png');
    padding: 20px;
}

.hidden
{
    display: none;
}

.js-schedule{
    text-align: center;
    background-image: url('../assets/schedule-background.png');
}

li{
    text-align: left;
    list-style: none;
    padding: 10px;
    background-image: url('../assets/entry-background.png');
    font-weight: bold;
    margin: 3px;
}

p{
    font-weight: bold;
}

.js-logout{
    position: -webkit-sticky;
    position: sticky;
    width: 100px;
    float: right;
}

#sub-title{
    font-size: 150%;
}

.js-total-time{
    color: rgb(161, 20, 20);
    font-weight: bold;
    font-size: 125%;
}

.day-header{
    background-image: url('../assets/entry-background.png');
}

.js-checkbox{
    height: 18px;
    width: 18px;
}

.add-entry-buttons{
    border: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(208, 210, 211);
    height: 35px;
    width: 80px;
    font-size: medium;
    border-radius: 4px;
}

.add-entry-buttons:hover{
    background-color: rgb(218, 223, 226);
    transition-duration: 0.3s;
    cursor: pointer;
}

#js-day-select-all:hover{
    cursor: pointer;
}

.js-category:hover{
    cursor: pointer;
}

#cancel-update-entry:hover{
    cursor: pointer;
}
#update-entry:hover{
    cursor: pointer;
}

.days{
    border: 1px solid black;
    margin: 5px;
}

.entry-time-display{
    float: right;
}